<div class="kode_banner2">
  <div class="banner2-center">
    <figure>
      <img src="images/b.jpg" alt="">
      <div class="kode_banner2_text">
        <p>fast delivery</p>
        <h1><span>trust is world wide </span> transport service </h1>
        <a class="kode-button-style-1 kode-theme-color-bg-color" href="#">see more</a>
      </div>
    </figure>
    <figure>
      <img src="images/b1.jpg" alt="">
      <div class="kode_banner2_text">
        <p>fast delivery</p>
        <h1><span>trust is world wide </span> transport service </h1>
        <a class="kode-button-style-1 kode-theme-color-bg-color" href="#">see more</a>
      </div>
    </figure>
    <figure>
      <img src="images/b3.jpg" alt="">
      <div class="kode_banner2_text">
        <p>fast delivery</p>
        <h1><span>trust is world wide </span> transport service </h1>
        <a class="kode-button-style-1 kode-theme-color-bg-color" href="#">see more</a>
      </div>
    </figure>
  </div>
</div>
<!--// KODE BANNER2 END//-->

<!--// KODE SERVICES2 WRAP START //-->
<div class="kode_services2_wrap">
  <div class="container-fulid">
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="kode_service2_text">
          <span><i class="fa icon-home"></i></span>
          <h3>Get a Legal advisor</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and text typesetting industry. </p>
          <a class="kode-button-style-1 kode-theme-color-bg-color" href="#">see more</a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="kode_service2_text active">
          <span><i class="fa icon-interface"></i></span>
          <h3>Get Architecture</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and text typesetting industry. </p>
          <a class="kode-button-style-1 kode-theme-color-bg-color" href="#">see more</a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="kode_service2_text">
          <span><i class="fa icon-construction-1"></i></span>
          <h3>Hardwood Flooring</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and text typesetting industry. </p>
          <a class="kode-button-style-1 kode-theme-color-bg-color" href="#">see more</a>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="kode_service2_text">
          <span><i class="fa icon-construction-1"></i></span>
          <h3>Special Projects</h3>
          <p>Lorem Ipsum is simply dummy text of the printing and text typesetting industry. </p>
          <a class="kode-button-style-1 kode-theme-color-bg-color" href="#">see more</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!--// KODE SERVICES2 WRAP START //-->

<!--// KODE EXPERIENCE2 WRAP START //-->
<div class="kode_experience2_wrap">
  <div class="container">
    <div class="kode_light_bg">
      <div class="row">
        <div class="col-md-5">
          <div class="kode_experience2_fig">
            <figure>
              <img src="images/experience.jpg" alt="">
            </figure>
          </div>
        </div>
        <div class="col-md-7">
          <div class="kode_experience2_text">
            <div class="kode_section_hdg">
              <span>24 years of experience</span>
              <h3>WELCOME TO The Construction</h3>
            </div>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              text ever since the 1500s, when an took a galley of type and scrambled it to make a type
              specimen book.</p>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum
              has been the printing and typesetting indus</p>
            <div class="kode_experience_list">
              <a href="#">Standard dummy text ever since the 1500s, when an unknown printer</a>
              <a href="#">Standard dummy text ever since the 1500s, when an unknown printer</a>
            </div>
            <ul class="kode_experienc_service">
              <li>
                <div class="kode_experience_service_list">
                  <a href="#"><i class="fa icon-home"></i></a>
                  <div class="kode_experience_service_text">
                    <h5><span>On time</span> at Services</h5>
                  </div>
                </div>
              </li>
              <li>
                <div class="kode_experience_service_list">
                  <a href="#"><i class="fa icon-interface"></i></a>
                  <div class="kode_experience_service_text">
                    <h5><span>Available at</span>Your Location</h5>
                  </div>
                </div>
              </li>
              <li>
                <div class="kode_experience_service_list">
                  <a href="#"><i class="fa icon-construction-1"></i></a>
                  <div class="kode_experience_service_text">
                    <h5><span>On time</span> at Services</h5>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--// KODE EXPERIENCE2 WRAP START //-->

<!--// KODE LEGAL WRAP START //-->
<div class="kode_legal_wrap">
  <div class="kode_legal_fig">
    <h3><span>We are the Best</span>Contruction</h3>
  </div>
  <div class="kode_legal_service">
    <div class="kode_section_hdg heading_2">
      <span>24 years of experience</span>
      <h3>Why Choose Us</h3>
      <p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliqu</p>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div class="kode_services_2_des des_4">
          <span><i class="fa fa-cogs"></i></span>
          <div class="kode_services_2_content">
            <h5><a href="#">Trusted</a></h5>
            <p>Praesent vestibulum aenean nonummy hendrerit isth maurisit Cum sociis natoq ue penatius
              agnis dis ...</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="kode_services_2_des des_4">
          <span><i class="fa fa-map-o"></i></span>
          <div class="kode_services_2_content">
            <h5><a href="#">Windows Work</a></h5>
            <p>Praesent vestibulum aenean nonummy hendrerit isth maurisit Cum sociis natoq ue penatius
              agnis dis ...</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="kode_services_2_des des_4">
          <span><i class="fa fa-users"></i></span>
          <div class="kode_services_2_content">
            <h5><a href="#">Community</a></h5>
            <p>Praesent vestibulum aenean nonummy hendrerit isth maurisit Cum sociis natoq ue penatius
              agnis dis ...</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="kode_services_2_des des_4">
          <span><i class="fa icon-pointer-advice"></i></span>
          <div class="kode_services_2_content">
            <h5><a href="#">Location</a></h5>
            <p>Praesent vestibulum aenean nonummy hendrerit isth maurisit Cum sociis natoq ue penatius
              agnis dis ...</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--// KODE LEGAL WRAP END //-->

<!--// KODE SERVICE4 WRAP START //-->
<div class="kode_service4_wrap">
  <div class="container">
    <div class="kode_section_hdg heading_2 heading_3">
      <span>24 years of experience</span>
      <h3>Why Choose Us</h3>
      <p><span>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet gravida nibh</span>vel velit auctor
        aliquet</p>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="kode_services_2_des des_3 des_5">
          <span><i class="fa icon-group-of-people-in-a-formation"></i></span>
          <div class="kode_services_2_content">
            <h4><a href="#"> Services</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="kode_services_2_des des_3 des_5">
          <span><i class="fa icon-tool-1"></i></span>
          <div class="kode_services_2_content">
            <h4><a href="#">Repairs</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="kode_services_2_des des_3 des_5">
          <span><i class="fa icon-home"></i></span>
          <div class="kode_services_2_content">
            <h4><a href="#">Home Builds</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="kode_services_2_des des_3 des_5">
          <span><i class="fa icon-pointer-advice"></i></span>
          <div class="kode_services_2_content">
            <h4><a href="#">Map Markers</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="kode_services_2_des des_3 des_5">
          <span><i class="fa icon-interface"></i></span>
          <div class="kode_services_2_content">
            <h4><a href="#">Conference</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="kode_services_2_des des_3 des_5">
          <span><i class="fa icon-construction-1"></i></span>
          <div class="kode_services_2_content">
            <h4><a href="#">UpLift</a></h4>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--// KODE SERVICE4 WRAP END //-->

<!--// KODE COUNTER2 WRAP START //-->
<div class="kode_counter2_wrap">
  <div class="container">
    <h4 class="counter-title">We Deserve a cool Statistic</h4>
    <div class="kode_counter2_list">
      <ul>
        <li>
          <div class="kode_counter2_text">
            <i class="fa icon-social"></i>
            <span class="counter">456</span>
            <P>Banch Using</P>
          </div>
        </li>
        <li>
          <div class="kode_counter2_text">
            <i class="fa icon-wall"></i>
            <span class="counter">740</span>
            <P>Properties begin</P>
          </div>
        </li>
        <li>
          <div class="kode_counter2_text">
            <i class="fa icon-material"></i>
            <span class="counter">100</span>
            <P>Member’s Property</P>
          </div>
        </li>
        <li>
          <div class="kode_counter2_text">
            <i class="fa icon-construction"></i>
            <span class="counter">98</span>
            <P>Home Movers</P>
          </div>
        </li>
        <li>
          <div class="kode_counter2_text">
            <i class="fa icon-construction-1"></i>
            <span class="counter">50</span>
            <P>Case WIN</P>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
<!--// KODE COUNTER2 WRAP END //-->

<!--// KODE MEDIUM BLOG2 GRID START //-->
<div class="kode_medium_blog2_grid">
  <div class="container">
    <div class="kode_section_hdg heading_2 heading_3 light">
      <span>24 years of experience</span>
      <h3>Our PRatices Area</h3>
      <p><span>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet gravida nibh</span>vel velit auctor
        aliquet</p>
    </div>
    <div class="kode_medium_blog2_row">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="kode_medium_blog2_list">
            <figure>
              <img src="images/medium-blog.jpg" alt="">
            </figure>
            <div class="kode_medium_blog2_text">
              <h5>Jennifer Joy</h5>
              <span>Senior contruction</span>
              <ul class="blog2_meta_list">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="kode_medium_blog2_list">
            <figure>
              <img src="images/medium-blog1.jpg" alt="">
            </figure>
            <div class="kode_medium_blog2_text">
              <h5>David Thomson</h5>
              <span>Senior contruction</span>
              <ul class="blog2_meta_list">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="kode_medium_blog2_list">
            <figure>
              <img src="images/medium-blog2.jpg" alt="">
            </figure>
            <div class="kode_medium_blog2_text">
              <h5>Robert Kutcher</h5>
              <span>Senior contruction</span>
              <ul class="blog2_meta_list">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="kode_medium_blog2_list">
            <figure>
              <img src="images/medium-blog3.jpg" alt="">
            </figure>
            <div class="kode_medium_blog2_text">
              <h5>Frankie Kao</h5>
              <span>Senior contruction</span>
              <ul class="blog2_meta_list">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--// KODE MEDIUM BLOG2 GRID END //-->

<!--// KODE INFO FORM WRAP START //-->
<div class="kode_info_form_wrap">
  <div class="kode_info_logo">
    <a href="#"><img src="images/logo13.png" alt=""/></a>
  </div>
  <div class="kode_qoute_form">
    <div class="kode_section_hdg heading_2 heading_3 light">
      <span>24 years of experience</span>
      <h3>Get a Quote</h3>
      <p>Lorem Ipsum. Proin gravida nibh vel velit auctor aliqu</p>
    </div>
    <form method="post" id="commentform" class="quote_form_list">
      <div class="col-md-6 col-sm-6">
        <div class="kode_quote_commet_field">
          <input placeholder="Your Name*" name="author" type="text" value="" data-default="Name*"
                 size="30" required>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="kode_quote_commet_field">
          <input placeholder="Your Mobile" name="email" type="text" value="" data-default="Email*"
                 size="30" required>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="kode_quote_commet_field">
          <select class="custom-options">
            <option value="">Construct Plaza</option>
            <option value="">Construct Homes</option>
            <option value="">Construct Markets</option>
            <option value="">Construct Villas</option>
            <option value="">Construct Resturant</option>
            <option value="">Construct Markets</option>
          </select>
        </div>
      </div>
      <div class="col-md-6 col-sm-6">
        <div class="kode_quote_commet_field">
          <input placeholder="Location" name="url" type="text" value="" data-default="Website" size="30"
                 required>
        </div>
      </div>
      <div class="col-md-12">
        <div class="kode_quote_textarea">
          <textarea placeholder="Your Message" name="comment"></textarea>
        </div>
        <p class="form_quote_submit"><input name="submit" type="submit"
                                            class="kode-button-style-2 kode-theme-color-bg-color"
                                            value="Submit Now"></p>
      </div>
    </form>
  </div>
</div>
<!--// KODE INFO FORM WRAP END //-->

<!--// KODE NEWS2 WRAP START //-->
<div class="kode_news2_wrap">
  <div class="container">
    <div class="kode_section_hdg heading_2 heading_3">
      <span>24 years of experience</span>
      <h3>Latest News</h3>
      <p><span>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet gravida nibh</span>vel velit auctor
        aliquet</p>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="kode_news2_list">
          <figure>
            <img src="images/news.jpg" alt="">
            <figcaption>
              <span><strong>27</strong>Apr</span>
            </figcaption>
          </figure>
          <div class="kode_news2_text">
            <h5><a href="#">Blog post with image</a></h5>
            <ul class="kode_news2_admin">
              <li><span>post By : </span><a href="#">admin</a></li>
              <li><a href="#">5 Commment</a></li>
            </ul>
            <p>Lorem ipsum dolor sit amet, ne eoser lorem quodsi option et albucius delio voluptaria
              cum...</p>
            <a class="kode-button-style-2 kode-white-color-text kode-theme-color-bg-color" href="#">View
              All</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="kode_news2_list">
          <figure>
            <img src="images/news1.jpg" alt="">
            <figcaption>
              <span><strong>27</strong>Apr</span>
            </figcaption>
          </figure>
          <div class="kode_news2_text">
            <h5><a href="#">Easy Way Of Improving Ski</a></h5>
            <ul class="kode_news2_admin">
              <li><span>post By : </span><a href="#">admin</a></li>
              <li><a href="#">5 Commment</a></li>
            </ul>
            <p>Lorem ipsum dolor sit amet, ne eoser lorem quodsi option et albucius delio voluptaria
              cum...</p>
            <a class="kode-button-style-2 kode-white-color-text kode-theme-color-bg-color" href="#">View
              All</a>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="kode_news2_list">
          <figure>
            <img src="images/news2.jpg" alt="">
            <figcaption>
              <span><strong>27</strong>Apr</span>
            </figcaption>
          </figure>
          <div class="kode_news2_text">
            <h5><a href="#">The Perfect Architecture</a></h5>
            <ul class="kode_news2_admin">
              <li><span>post By : </span><a href="#">admin</a></li>
              <li><a href="#">5 Commment</a></li>
            </ul>
            <p>Lorem ipsum dolor sit amet, ne eoser lorem quodsi option et albucius delio voluptaria
              cum...</p>
            <a class="kode-button-style-2 kode-white-color-text kode-theme-color-bg-color" href="#">View
              All</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--// KODE NEWS2 WRAP END //-->

<!--// KODE VIDEO WRAP START //-->
<div class="kode_video_wrap video_1">
  <div class="container">
    <div class="kode_video_content">
      <a data-rel="prettyPhoto" href="https://www.youtube.com/watch?v=0O2Rq4HJBxw"><i class="fa fa-play"></i></a>
      <h3>WATCH OUR AWESOME VIDEO</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde eveniet nobis dignissimos, ipsam optio
        cumque neque</p>
    </div>
  </div>
</div>
<!--// KODE VIDEO WRAP END //-->

<div class="kode_box_service_wrap">
  <div class="container">
    <div class="kode_section_hdg heading_2 heading_3 light">
      <span>24 years of experience</span>
      <h3>Our Special Works</h3>
      <p><span>Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet gravida nibh</span>vel velit auctor
        aliquet</p>
    </div>
    <div class="kode_box_service_list">
      <ul>
        <li>
          <div class="kode_box_service_detail">
            <span class="fa fa-hospital-o"></span>
            <div class="kode_box_servixe_text">
              <h5><a href="#">DESIGN & BUILD</a></h5>
              <p>Lorem ipsum dolor sit amet, ludus aliquip mei eu, quando commodo salutatus vis
                ins.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="kode_box_service_detail">
            <span class="fa fa-building-o"></span>
            <div class="kode_box_servixe_text">
              <h5><a href="#">BUILDING RENOVATIONS</a></h5>
              <p>Lorem ipsum dolor sit amet, ludus aliquip mei eu, quando commodo salutatus vis
                ins.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="kode_box_service_detail">
            <span class="fa icon-social"></span>
            <div class="kode_box_servixe_text">
              <h5><a href="#">PROJECT MANAGEMENT</a></h5>
              <p>Lorem ipsum dolor sit amet, ludus aliquip mei eu, quando commodo salutatus vis
                ins.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="kode_box_service_detail">
            <span class="fa fa-home"></span>
            <div class="kode_box_servixe_text">
              <h5><a href="#">BEST HOUSE</a></h5>
              <p>Lorem ipsum dolor sit amet, ludus aliquip mei eu, quando commodo salutatus vis
                ins.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="kode_box_service_detail">
            <span class="fa icon-interface"></span>
            <div class="kode_box_servixe_text">
              <h5><a href="#">TEAMWORK</a></h5>
              <p>Lorem ipsum dolor sit amet, ludus aliquip mei eu, quando commodo salutatus vis
                ins.</p>
            </div>
          </div>
        </li>
        <li>
          <div class="kode_box_service_detail">
            <span class="fa icon-construction"></span>
            <div class="kode_box_servixe_text">
              <h5><a href="#">THE GREEN BUILDING</a></h5>
              <p>Lorem ipsum dolor sit amet, ludus aliquip mei eu, quando commodo salutatus vis
                ins.</p>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<!--// KODE CLIENT WRAP START //-->
<div class="kode_client_wrap">
  <div class="container">
    <div id="kode-client-slider" class="owl-carousel owl-theme">
      <div class="item">
        <div class="kode_client_fig">
          <figure>
            <a href="#"><img src="images/client.png" alt=""></a>
          </figure>
        </div>
      </div>
      <div class="item">
        <div class="kode_client_fig">
          <figure>
            <a href="#"><img src="images/client1.png" alt=""></a>
          </figure>
        </div>
      </div>
      <div class="item">
        <div class="kode_client_fig">
          <figure>
            <a href="#"><img src="images/client2.png" alt=""></a>
          </figure>
        </div>
      </div>
      <div class="item">
        <div class="kode_client_fig">
          <figure>
            <a href="#"><img src="images/client3.png" alt=""></a>
          </figure>
        </div>
      </div>
      <div class="item">
        <div class="kode_client_fig">
          <figure>
            <a href="#"><img src="images/client4.png" alt=""></a>
          </figure>
        </div>
      </div>
      <div class="item">
        <div class="kode_client_fig">
          <figure>
            <a href="#"><img src="images/client5.png" alt=""></a>
          </figure>
        </div>
      </div>
      <div class="item">
        <div class="kode_client_fig">
          <figure>
            <a href="#"><img src="images/client6.png" alt=""></a>
          </figure>
        </div>
      </div>
      <div class="item">
        <div class="kode_client_fig">
          <figure>
            <a href="#"><img src="images/client7.png" alt=""></a>
          </figure>
        </div>
      </div>
      <div class="item">
        <div class="kode_client_fig">
          <figure>
            <a href="#"><img src="images/client3.png" alt=""></a>
          </figure>
        </div>
      </div>
    </div>
  </div>
</div>
<!--// KODE CLIENT WRAP END //-->

<!--// KODE MAP2 WRAP START //-->
<div class="kode_map2_wrap">
  <div id="map-canvas" class="map-canvas"></div>
  <div class="container">
    <div class="kode_map2_content">
      <div class="kode_map2_service">
        <h5>contact detail</h5>
        <ul class="kode_map2_service_detail">
          <li><i class="fa fa-home"></i>
            <p><span>25 titan builders downtown st,</span> victoria, Australia</p></li>
          <li><i class="fa fa-envelope"></i>
            <p><a href="#">support@ourdomain.Com</a></p></li>
          <li><i class="fa fa-phone"></i>
            <p><a href="#">+(01) 123 456 7896</a></p></li>
        </ul>
      </div>
      <ul class="kode_map2_icon">
        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
</div>
<!--// KODE MAP2 WRAP END //-->