/*==================================================================================COLOR 1==================================================================================*/
/*
	  ============================================================
		   Font Color
	  ============================================================
*/
/* shop home page 04*/
.kode_top_navi_wraper .navigation .dl-menuwrapper .dl-menu.dl-menuopen li a:hover,
.kode_bag_footer_coperight p a:hover,
.kode_pharmacy_footer_caption ul li a:hover,
.kode_pharmacy_footer_caption ul li a i,
.kode_pharmacy_footer_cols a:hover:before,
.kode_pharmacy_footer_cols li a:hover,
.kode_pharmacy_sing_search input:focus ,
.kode_pharmacy_model_password > input:focus,
.kode_bag_footer_read ,
.kode_bag_footer_coperight a:hover,
.kode_bag_footer_event_social li:hover a,
.kode_bag_footer_social_icon li a.active,
.kode_bag_footer_social_icon li a:hover,
.koode_pharmacy_nutiva_star li a:hover,
.kode_pharmacy_nutive_caption span,
.kode_pharmacy_banner_caption h2 span,
.kode_pharmacy_latest_read,
.kode_pharmacy_latest_caption ul li a:hover,
.kode_pharmacy_deals_fig_caption ul li a:hover,
.kode_pharmacy_appoinment_caption p,
.kode_pharmacy_top_item input:focus,
.kode_pharmacy_top_call a:hover,
.kode_pharmacy_top_login ul li a:hover,

/*home page 03*/
.header .kode_top_navi_wraper .navigation .dl-menuwrapper li.dl-back:hover:after,
.kode_top_navi_wraper .navigation .dl-menu.dl-menuopen li a:hover,
.accordion.accordion-open:before,
.header .navigation ul li ul li a:hover:after,
.kode_service2_text:hover  .kode-button-style-law-3,
.kode_top3_content span i,
.kode_map2_icon li a:hover,
.kode_box_service_detail span,
.kode_news2_text h5 a:hover,
.kode_services_2_content h5 a:hover,
.kode_experience_service_list a,
.kode_experience_list a:hover,
/*home page 02*/
.kode_contact_text p a:hover,
.widget2_copy_text .top_arrow:hover,
.widget2_copy_text p a,
.widget2_text .widget2_service li a:hover:before,
.widget2_service.service_2 li a span,
.widget2_text .widget2_service li a:hover,
.kode_customer_text .kode_rating span,
.kode_customer_text .kode_rating ul li a,
.kode_customer_text h2,
.kode_counter_text span,
.kode_member_text span,
.kode_service_des figcaption a,
.kode_history_detail:hover  h4 a,
.kode_plumber_deal_text h3 a:hover
/*---------------------------------*/
.kode_rating_star li a:hover,
.kode_accordian_detail ul li a:hover,
.kode_biography_list li a:hover:before,
.kode_biography_list li a:hover,
.kode_addres_list li a:hover,
.widget.attorney_slide .slick-prev:hover:before, 
.widget.attorney_slide .slick-next:hover:before,
.kode_rating_star_list li a,
.team_detail_meta_list li a:hover,
.kode_readmore:hover,
.kode_video_content a:hover,
.kode_office_detail li:hover .kode_office_content a,
.kode_services_2_content a:hover,
.kode_glry_detail_item ul li a:hover,
/*anginer page*/
.kode_enginer_call li a:hover,
.kode_enginer_tittle ul li a:hover,
.kode_enginer_tittle h5,

/*home page*/
.header .kode_top_navi_wraper .navigation .dl-menu.dl-menuopen ul li a:hover,
.header_2 .navigation ul li ul li a:hover,
.kode_banner3_text h1 span em,
.kode_logo3_location_list a:hover,
.kode_logo3_services_text span,
.kode_copyright_navi li a:hover,
.kode_top_info2.widget.widget2 .kode_top_info_text a ,
.kode_top_info2.widget.widget2 i,
.kode_top_info2.widget .kode_top_info_text a:hover,
.kode_top_info2.widget span,
.widget3_services li a:hover:before ,
.widget3_services li a:hover,
.kode_top_info_text a:hover,
.kode_top_faq li a:hover,
.kode_top_social_icon li a:hover,
.navigation li ul li a:hover,
.navigation li ul li a:hover:before,
.kode_services_caption:hover span,
.kode_plumber_deal_text h5 a:hover,
.kode_top_social .kode_model_btn a:hover,
.widget_content_detail li a:hover,
.widget .widget_agency li a:hover,
.kode_line_farm_text:hover .kode_line_farm_fig h4,
.kode_line_farm_text:hover h5,
.kode_line_farm_text:hover h6,
.kode_plumber_recent_item li a.active,
.kode_plumber_recent_item li a:hover,
.kode_plumber_deal_text h3 a:hover
{
	color:#ffd322;	
}



/*
	  ============================================================
		   Background Color
	  ============================================================
*/

/* shop home page 04*/
.kode_pharmacy_top_item  form a,
.kode_pharmacy_top_login .modal-header .close,
.kode_pharmacy_medicine_banner .bx-wrapper  .bx-next:after,
.kode_pharmacy_medicine_banner .bx-wrapper  .bx-prev:before,
.kode_pharmacy_copyright_wraper,
.kode_pharmacy_categries_iteam ul  li a:hover,
.kode_pharmacy_sing_wraper:before,
.kode_pharmacy_sing_search button:hover,
.kode_pharmacy_top_cart,
.kode_pharmacy_model_search button,
.kf_login_social_icon ul li a,
.kf_login_singin button,
.kf_loging_input label,
.kf_login_1 ,
.kode_pharmacy_top_login .dropdown-menu > li > a:hover,
.pharmacy_top_search .dropdown-menu > li > a:hover,
.kode_bag_footer_event .bx-controls-direction .bx-next:hover:before,
.kode_bag_footer_event .bx-controls-direction .bx-prev:hover:before,
.kode_bag_footer_search button,
.kode_pharmacy_discount_caption a,
.kode_pharmacy_nutiva_search li a:hover,
.kode_pharmacy_nutiva_add,
.kode_pharmacy_vitamin_slid h6,
.kode_pharmacy_parent_caption a,
.kode_pharmacy_banner_caption a,
.kode_pharmacy_deals_cart,
.kode_pharmacy_deals_fig  span,
.kode_pharmacy_fill_caption a,
.kode_pharmacy_appoinment a,
.kode_pharmacy_categries_iteam li a:hover,
.kode_pharmacy_top_navi_wraper,
.pharmacy_top_search,

/*home page 03*/
.accordion h4,
.kode-button-style-law-1,
.kode_banner_text a,
.kode_banner2  .slick-prev.slick-arrow:hover:before,
.kode_banner2  .slick-next.slick-arrow:hover:before,
.kode_banner3  .slick-prev.slick-arrow:hover:before,
.kode_banner3  .slick-next.slick-arrow:hover:before,
.kode_experience2_fig:before,
.kode_box_service_detail:hover,
.kode_service2_text:hover:before,
.kode_quote_commet_field .selectric-scroll > ul li:hover,
.kode_info_form_wrap:before,
.kode_medium_blog2_list:hover,
.kode_counter2_wrap,
.kode_services_2_des.des_3.des_5 span,
.kode_services_2_des.des_4:hover span,
.kode_legal_wrap:before,
/*home page 02*/
.kode_map2_content,
.kode_customer_wraper .slick-next:hover:before,
.kode_customer_wraper .slick-prev:hover:before,
.widget2_text form button,
.widget2_text .widget2_social li a:hover,
.widget2_text > a:hover,
.kode_meet_wraper,
.kode_post_fig figcaption  a,
.kode_member_wraper .slick-next.slick-arrow:hover:before,
.kode_member_wraper .slick-prev.slick-arrow:hover:before,
.kode_service_fig:hover figure:before,
.kode_history_detail i,
.kode_banner2_text a,
.kode_top_navigation2 ul li a:hover,
/*----------------------------------------------*/
.kode_testimaonial_text .slick-next.slick-arrow:hover,
.kode_testimaonial_text .slick-prev.slick-arrow:hover ,
.kode_contact_service_row:hover  .kode_contact_content span,
.accordion:hover h4:before,
.kode_accordian_des i,
.progressbar.bar_2 .bar,
.kode_addres_icon li a:hover,
.kode_services_2_des.des_3:hover span,
.download_file ul li a:hover,
.kode_categories_item ul li a:hover,
.kode_blog_grid_content.content_2.content_3:hover i,
.kode_blog_medium:hover figure:before,
.kode_pagination_list a:hover,
.kode_pratices_content:hover figure:before,
.progress-names .bar,
.kode_attorney_icon li a:hover,
.kode_blog_grid_modern:hover .kode_grid_content .kode-button-style-law-3,
.kode_services_2_des.des_2:hover span,
.kode_content_wrap,
.kode_attorney_wraper:before,
.kode_enginer_social:before,
/*agent page*/
.kode_pagi_detail a:hover,
/*about us  page*/
.kode_acordin_row h3:hover,
/*home page*/
.header .kode_top_navi_wraper,
.widget2_text .form_quote_submit input:hover,
.kode_testimonial_wrap:before,
.kode_banner3_text a:hover,
.kode_navigation_list,
.kode_logo3_services_text:hover span,
.kode_copyright_widget:before,
.kode_widget3_icon ul li a:hover,
.get_button,
.kode_top_info2:hover span,
.kode_plumber_video:before,
.kode_plumber_sale:before,
.kode_top_social .kode_model_btn button:hover,
.kode_top_social .modal-content,
.kode_bottom_footer,
.widget_content_social li a:hover,
.widget .widget_form button,
.kode_plumber_testimonial .slick-active button,
.kode_line_farm_text:hover .kode_line_farm_fig a,
.kode_line_farm_text:hover span,
.kode_plumber_feature_fig figcaption a,
.kode_plumber_enginer_fig:hover figcaption:before,
.kode_plumber_recent_fig .kode_plumber_plus:hover,
.kode_plumber_recent_fig:hover figcaption,
.kode_plumber_deal_detail:hover  span:before,
.kode_plumber_project,
.kode_top_search_field button,
.navigation li a.active,
.navigation li a:hover{
	background-color:#ffd322;	
}


/*
	  ============================================================
		   Border Color
	  ============================================================
*/
/* shop home page 03*/

.kode_pharmacy_model_password > input:focus,
.kode_pharmacy_nutiva_search li a:hover,

/*home page 03*/
.widget2_text .form_quote_submit input:hover,
.widget2_text form textarea:focus, 
.widget2_text form input:focus,
.header_2 .navigation ul li ul ,
.kode_banner3,
.kode_banner3  .slick-prev.slick-arrow:hover:before,
.kode_banner3  .slick-next.slick-arrow:hover:before,
.kode_banner3_text a:hover,
.kode_logo3_services_text span,
.navigation li ul,
.kode_quote_textarea textarea:focus,
.kode_quote_commet_field input:focus,
.kode_news2_list:hover figcaption,
.kode_services_2_des.des_4:hover span,
/*home page 02*/
.widget2_text > a:hover,
.kode_history_detail:hover,
.kode_customer_text .kode_rating span:before,
.kode_client_thumb:hover,
.kode_project_fig .project_text:before,
.kode_banner2,
/*--------------------------------------------*/
.kode_testimaonial_text .slick-next.slick-arrow:hover,
.kode_testimaonial_text .slick-prev.slick-arrow:hover ,
.kode_newsletter_content .kf_commet_field.field_2.field_4 input:focus,
.kode_contact_service_row:hover  .kode_contact_content span,
.kode_addres_icon li a:hover,
.kode_textarea.area_2 textarea:focus,
.kf_commet_field.field_2 input:focus,
.kode_services_2_des.des_3:hover span,
.kode_attorney_icon li a:hover,
.kode_blog_grid_modern:hover .kode_grid_content .kode-button-style-law-3,
.kode_office_detail li:hover:before,
.kode_services_2_des.des_2:hover span,
.kode_plumber_deal_detail:hover  span,
.kode_plumber_testimonial .slick-active button:before,
.kode_enginer_social,
/*agent  page*/
.kode_pagi_detail a:hover:before,
.kode_pagi_detail a:hover,
/*home page*/
.kode_widget3_icon ul li a:hover,
.kode_top_info2:hover span,
.kode_about_accordian_txet,
.widget_content_social li a:hover,
.kode_line_farm_text:hover .kode_line_farm_fig figure:before,
.kode_line_farm_text:hover .kode_line_farm_fig a,
.kode_line_farm_text:hover .kode_line_farm_fig:before,
.kode_line_farm_text:hover span:after,
.kode_plumber_recent_fig .kode_plumber_plus:hover,
.kode_plumber_recent_item li a:before,
.kode_top_search_field input:focus
{
	border-color:#ffd322;	
}



/*
	  ============================================================
		   Transaction Effect
	  ============================================================
*/
/*home page 04*/
.kode_pharmacy_categries_iteam ul  li a,
.kode_pharmacy_top_login .modal-header .close,
.kode_pharmacy_medicine_banner .bx-wrapper  .bx-next:after,
.kode_pharmacy_medicine_banner .bx-wrapper  .bx-prev:before,
.kode_pharmacy_categries_iteam ul  li ,
.kode_pharmacy_categries_iteam ul,
.kode_pharmacy_categries_iteam ul  li a,
.kode_pharmacy_categries_iteam li,
.kode_bag_footer_coperight p a,
.kode_pharmacy_footer_caption ul li a,
.kode_pharmacy_footer_cols a:before,
.kode_pharmacy_footer_cols li a,
.kode_pharmacy_sing_search button,
.kode_pharmacy_sing_social ul li a,
.kode_pharmacy_top_cart 	a,
.kode_pharmacy_model_search button ,
.kf_login_singin button,
.kode_bag_footer_read ,
.kode_pharmacy_top_login .dropdown-menu > li > a,
.kode_pharmacy_top_cart a,
.kode_pharmacy_top_cart .dropdown-menu > li > a,
.pharmacy_top_search .dropdown-menu > li > a,
.kode_bag_footer_event .bx-controls-direction .bx-next:before,
.kode_bag_footer_event .bx-controls-direction .bx-prev:before,
.kode_bag_footer_coperight a,
.kode_bag_footer_flicker img,
.kode_bag_footer_search button,
.kode_bag_footer_event_social li a,
.kode_bag_footer_social_icon li a,
.kode_pharmacy_discount_caption a,
.koode_pharmacy_nutiva figure:before,
.kode_pharmacy_nutiva_link,
.kode_pharmacy_nutiva_add,
.kode_pharmacy_nutiva_search li a,
.koode_pharmacy_nutiva_star,
.kode_pharmacy_nutiva_cart,
.koode_pharmacy_nutiva_star li a,
.kode_pharmacy_parent_caption a,
.kode_pharmacy_medicine_banner .bx-wrapper .bx-pager.bx-default-pager a ,
.kode_pharmacy_banner_caption a,
.kode_pharmacy_latest_read, 
.kode_pharmacy_latest_caption ul li a,
.kode_pharmacy_deals_fig_caption ul li a,
.kode_pharmacy_deals_cart,
.kode_pharmacy_fill_caption a,
.kode_pharmacy_appoinment a,
.kode_pharmacy_categries_iteam li a span,
.kode_pharmacy_categries_iteam li a,
.kode_pharmacy_top_navigation ul li a:after,
.kode_pharmacy_top_item a ,
.kode_pharmacy_top_call a,
.kode_pharmacy_top_login ul li a,

/*home page 03*/
.header .kode_top_navi_wraper .navigation .dl-menuwrapper li.dl-back:after,
.header .kode_top_navi_wraper .navigation .dl-menu.dl-menuopen ul li a,
.kode_top_navi_wraper .navigation .dl-menu.dl-menuopen li a,
.accordion.accordion-open:before,
.header .navigation ul li > a:after,
.header .navigation ul li > a:before,
.kode-button-style-2,
.kode-button-style-1:before,
.kode-button-style-1,
.widget2_text .form_quote_submit input,
.kode_banner2  .slick-prev.slick-arrow:before,
.kode_banner2  .slick-next.slick-arrow:before,
.kode_banner2_text a:before,
.header_2 .navigation ul li ul ,
.header_2 .navigation ul li ul li a,
.kode_banner3  .slick-prev.slick-arrow:before,
.kode_banner3  .slick-next.slick-arrow:before,
.kode_banner3_text a,
.quote_button,
.kode_logo3_services_text span,
.kode_logo3_location_list a,
.kode_map2_icon li a,
.kode_map2_service_detail p a,
.kode_copyright_text p a,
.navigation li ul li a:before,
.kode_box_servixe_text h5 a,
.kode_box_service_detail,
.kode_service2_text:before,
.kode_news2_text h5 a,
.kode_news2_text .kode-button-style-law-3,
.kode_news2_list figcaption,
.kode_news2_list figure img,
.kode_experience2_fig figure img,
.kode_experience2_fig figure:before,
.kode_news2_list figure:before,
.kode_quote_commet_field .selectric-scroll > ul li,
.blog2_meta_list li a,
.kode_medium_blog2_list,
.kode_medium_blog2_list figure img,
.kode_medium_blog2_list figure:before,
.kode_services_2_des.des_3.des_5:after,
.kode_services_2_des.des_3.des_5:before,
.kode_services_2_content h5 a,
.kode_services_2_des.des_4 span,
.kode_experience2_fig figure:before, 
.kode_news2_list figure:before,
.kode_experience_list a,
/*home page 02*/
.kode_contact_text p a,
.kode_contact_content span,
.kode_customer_wraper .slick-next:before,
.kode_customer_wraper .slick-prev:before,
.widget2_copy_text .top_arrow,
.widget2_copy_right:before,
.widget2_copy_text p a,
.widget2_text form button,
.widget2_text .widget2_social li a,
.widget2_text .widget2_service li a:before,
.widget2_text .widget2_service li a,
.widget2_text > a,
.kode_history_detail i,
.kode_history_detail,
.kode_meet_text a,
.kode_customer_text .kode_rating ul li a,
.kode_client_thumb,
.kode_client_fig figure img,
.kode_project_fig figure img,
.kode_post_fig,
.kode_post_fig .post_text a,
.kode_post_fig figure img,
.kode_post_fig figcaption,
.kode_post_fig figcaption:before,
.kode_member_wraper .slick-next.slick-arrow:before,
.kode_member_wraper .slick-prev.slick-arrow:before,
.kode_service_fig figcaption a,
.kode_service_fig figure:before,
.kode_service_des figure img,
.kode_history_detail h4 a,
.kode_banner2_text a,
.kode_top_navigation2 ul li a,
/*-------------------------------------------*/
.kode_rating_star li a,
.kode_testimaonial_text .slick-next.slick-arrow:before,
.kode_testimaonial_text .slick-prev.slick-arrow:before,
.kode_testimaonial_text .slick-next.slick-arrow,
.kode_testimaonial_text .slick-prev.slick-arrow ,
.kode_newsletter_content form .kode-button-style-law-4,
.kode_team_detail_fig figure:before,
.kode_accordian_detail ul li a,
.accordion h4:before,
.kode_accordian_detail ul li a:before,
.kode_award_fig figure img,
.kode_biography_list li a:before,
.kode_biography_list li a,
.kode_addres_icon li a,
.kode_addres_list li a,
.widget.attorney_slide .slick-prev:before, 
.widget.attorney_slide .slick-next:before,
input, textarea,
.form_submit .kode-button-style-law-4,
.kode_quote_content .kode-button-style-law-3,
.kode_services_2_des.des_3 span,
.kode_practice_detail_tab.tab_2 figure img,
.widget.insolvency_content .kode-button-style-law-3,
.download_file ul li a i,
.download_file ul li a,
.kode_rating_star_list li a,
.team_detail_meta_list li a,
.kode_categories_item ul li a:before,
.kode_categories_item ul li a,
.kode_blog_grid_content.content_2.content_3 i,
.kode_readmore,
.kode_readmore:before, 
.kode_readmore:after,
.kode_blog_medium figure img,
.kode_blog_medium figure:before,
.kode_blog_medium.medium_2,
.kode_blog_medium figcaption a, 
.kode_blog_medium figcaption,
.kode_pagination_list a,
.kode_pratices_content figure:before,
.kode_pratices_content .kode-button-style-law-3,
.kode_pratices_content figcaption,
.kode_pratices_content figcaption h4,
.kode_pratices_content figcaption p,
.kode_pratices_content figcaption:before,
.kode_video_content a,
.kode_attorney_icon li a,
.kode_attorney_icon,
.kode_attorney_des figure img,
.kode_blog_grid_modern,
.kode_grid_content .kode-button-style-law-3,
.kode_thumbnail figure img,
.kode_thumbnail figure:before,
.kode_blog_grid_modern,
.kode_office_content a,
.kode_office_detail li:before,
.kode_services_2_content a,
.kode_counter_content .kode-button-style-law-3,
.kode_services_2_des.des_2 span,
.kode_text_title .kode-button-style-law-3,
.kode_top_navi_wraper .dl-menuwrapper li a,
.widget .widget_fig li img,
.kode_glry_detail_item ul li a,
#bx-pager img,
.kode_enginer_call li a,
.kode_enginer_tittle ul li a,
.kode_enginer_fig figure img,
.kode_enginer_social li a,
/*agent  page*/
.kode_pagi_detail a:before,
.kode_pagi_detail a:hover,
/*about us  page*/
.kode_acordin_row h3:before,
.kode_acordin_row h3,
/*home page*/
.kode_copyright_navi li a,
.kode_top_info2.widget .kode_top_info_text a,
.widget3_services li a:before ,
.widget3_services li a,
.kode_widget3_icon ul li a,
.get_button:before,
.get_button,
.kode_top_info_text a,
.kode_top_info2 span,
.kode_top_faq li a,
.kode_top_social_icon li a,
.kode_line_farm_fig figure img,
.kode_line_farm_fig figure:after,
.kode_plumber_enginer_fig figcaption  p,
.kode_services_caption span,
.kode_client_thumb figure img,
.kode_client_thumb figure:before,
.widget .widget_fig li:before,
.kode_plumber_video_text a,
.kode_line_farm_text h6,
.kode_plumber_recent_fig figcaption h5 a,
.kode_plumber_deal_text h5 a,
.kode_top_navigation2 li ul,
.navigation li ul,
.kode_top_social .kode_model_btn a,
.kode_top_social .kode_model_btn button,
.kode_footer_text a,
.widget_content_detail li a,
.widget .widget_agency li a,
.widget .widget_form button,
.widget_content_social li a,
.kode_line_farm_fig figure:before,
.kode_line_farm_fig a,
.kode_line_farm_fig h4,
.kode_line_farm_fig figure img,
.kode_line_farm_fig:before,
.kode_line_farm_text h5,
.kode_line_farm_text span:after,
.kode_line_farm_text span,
.kode_line_farm_text h3,
.kode_plumber_feature_fig figcaption a,
.kode_plumber_feature_fig figcaption,
.kode_plumber_feature_fig figure:before,
.kode_plumber_feature_fig figure img,
.kode_plumber_enginer_fig figure img,
.kode_plumber_enginer_fig figcaption h3,
.kode_plumber_enginer_fig figcaption:before,
.kode_plumber_enginer_fig figcaption,
.kode_plumber_enginer_fig figcaption ul li a,
.kode_plumber_recent_fig figure img,
.kode_plumber_recent_fig .kode_plumber_plus,
.kode_plumber_recent_fig figure:after,
.kode_plumber_recent_fig figcaption:before,
.kode_plumber_recent_fig figcaption h3 a,
.kode_plumber_recent_fig figcaption,
.kode_plumber_recent_item li a,
.kode_plumber_recent_item li a:before,
.kode_plumber_deal_text h3 a,
.kode_plumber_deal_detail span,
.kode_plumber_deal_detail  span:before,
.kode_plumber_project .kode_text a,
.kode_banner_text a,
.kode_top_social .kode_social_icon li a,
.kode_top_search_field button,
.navigation li a,
.kode_top_info li a i,
.kode_top_info li a
{
	transition:all 0.3s ease-in-out;
	-webkit-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;
	-o-transition:all 0.3s ease-in-out;
	-moz-transition:all 0.3s ease-in-out;	
}



.kode-transparent-bg{
	background:transparent;
}
.kode-white-color-bg{
	background-color:#fff;
}
.kode-white-color-text{
	color:#fff;
}
.kode-white-color-bg{
	background-color:#fff;
}
.kode-theme-color-text-color{
	color:#ffd322;
}
.kode-theme-color-bg-color{
	background-color:#ffd322;
}