@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?48a9jx');
  src:  url('fonts/icomoon.eot?48a9jx#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?48a9jx') format('truetype'),
    url('fonts/icomoon.woff?48a9jx') format('woff'),
    url('fonts/icomoon.svg?48a9jx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
  content: "\e900";
}
.icon-arrows2:before {
  content: "\e903";
}
.icon-construction:before {
  content: "\e904";
}
.icon-construction-1:before {
  content: "\e918";
}
.icon-group-of-people-in-a-formation:before {
  content: "\e919";
}
.icon-home:before {
  content: "\e91a";
}
.icon-interface:before {
  content: "\e91b";
}
.icon-left-arrow:before {
  content: "\e91c";
}
.icon-material:before {
  content: "\e91d";
}
.icon-pointer-advice:before {
  content: "\e91e";
}
.icon-social:before {
  content: "\e91f";
}
.icon-tool:before {
  content: "\e920";
}
.icon-tool-1:before {
  content: "\e921";
}
.icon-wall:before {
  content: "\e922";
}
.icon-arrows:before {
  content: "\e901";
}
.icon-arrows-1:before {
  content: "\e902";
}
.icon-arrows-22:before {
  content: "\e979";
}
.icon-arrows-3:before {
  content: "\e97a";
}
.icon-bath:before {
  content: "\e905";
}
.icon-building:before {
  content: "\e906";
}
.icon-buildings:before {
  content: "\e907";
}
.icon-business:before {
  content: "\e908";
}
.icon-furniture:before {
  content: "\e909";
}
.icon-golfing:before {
  content: "\e90a";
}
.icon-gps:before {
  content: "\e90b";
}
.icon-icon-2192:before {
  content: "\e90c";
}
.icon-location:before {
  content: "\e90d";
}
.icon-lock:before {
  content: "\e90e";
}
.icon-medical:before {
  content: "\e90f";
}
.icon-paint:before {
  content: "\e910";
}
.icon-paper:before {
  content: "\e911";
}
.icon-rest:before {
  content: "\e912";
}
.icon-restaurant:before {
  content: "\e913";
}
.icon-signs:before {
  content: "\e914";
}
.icon-sleeping:before {
  content: "\e915";
}
.icon-technology:before {
  content: "\e916";
}
.icon-transport:before {
  content: "\e917";
}

