<footer>
  <div class="footer_widget">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="widget_logo">
            <figure>
              <a href="#"><img src="/images/logo12.png" alt=""></a>
            </figure>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem quae ab illo inventore. vitae dicta sunt explicabo. Nemo enim ipsam. vitae dicta sunt explicabo. Nemo enim ipsam. vitae dicta sunt explicabo. Nemo enim ipsam..</p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="widget">
            <h5>Our gallery</h5>
            <ul id="thumbs" class="widget_fig">
              <li><a href="#"><img src="/images/footer.jpg" alt=""></a></li>
              <li><a href="#"><img src="/images/footer1.jpg" alt=""></a></li>
              <li><a href="#"><img src="/images/footer2.jpg" alt=""></a></li>
              <li><a href="#"><img src="/images/footer3.jpg" alt=""></a></li>
              <li><a href="#"><img src="/images/footer4.jpg" alt=""></a></li>
              <li><a href="#"><img src="/images/footer5.jpg" alt=""></a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3">
          <div class="widget">
            <h5>Our newslettet</h5>
            <div class="widget_form">
              <p>Aliquam pulvinar eros vel sem ultrices, ac eleifend libero molestie. </p>
              <form>
                <input type="text" placeholder="Your Email" required>
                <button class="kode-button-style-1 kode-theme-color-bg-color">Subscribe</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-3">
          <div class="widget">
            <h5>contact us</h5>
            <ul class="widget_agency">
              <li><a href="#"><i class="fa fa-envelope"></i>info@volcan.com.pe</a></li>
              <li><a href="#"><i class="fa fa-phone"></i>+511 4167000</a></li>
              <li><a href="#"><i class="fa fa-map-marker"></i><p>121 King Street, Melbourne
                Victoria 3000, Australia</p></a></li>
            </ul>
          </div>
        </div>
        <div class="widget_content">
          <ul class="widget_content_detail">
            <li><a href="#">Home</a></li>
            <li><a href="#">Pages</a></li>
            <li><a href="#">Our Agents</a></li>
            <li><a href="#">Latest News</a></li>
            <li><a href="#">Client Testimonial </a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
          <ul class="widget_content_social">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="kode_bottom_footer">
    <div class="container">
      <div class="kode_footer_text">
        <p>2017 @ Copyright Bridges Construction Reserved</p>
        <a id="child-topbtn" href="#"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
</footer>