<footer>
  <div class="widget kode_widget3">
    <div class="container">
      <div class="col-md-3 col-sm-6">
        <div class="kode_widget3_des">
          <a href="#"><img src="/images/logo12.png" alt=""></a>
          <p>Lorem ipsum dolor sit amet, ludus aliquip mei eu, quando commodo salutatus vis ins.</p>
          <div class="kode_widget3_icon">
            <h6>connect us</h6>
            <ul>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
              <li><a href="#"><i class="fa fa-skype"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="kode_widget3_content">
          <h4>our services</h4>
          <ul class="widget3_services">
            <li><a href="#">sea Freight</a></li>
            <li><a href="#">Road Transportation</a></li>
            <li><a href="#">Air Freight</a></li>
            <li><a href="#">Railway logistics</a></li>
            <li><a href="#">Pakinging stroage</a></li>
            <li><a href="#">Warehousing</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="kode_widget3_content">
          <h4>contact us</h4>
          <div class="kode_widget_contact">
            <ul>
              <li>
                <div class="kode_top_info2 widget">
                  <span><i class="fa fa-paper-plane-o"></i></span>
                  <div class="kode_top_info_text">
                    <p>50 main desing street Australia - Alabama 55455 </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="kode_top_info2 widget">
                  <span><i class="fa fa-phone"></i></span>
                  <div class="kode_top_info_text">
                    <a href="">+1234 (4563) 7894</a>
                    <a href="">+1234 (4563) 7894</a>
                  </div>
                </div>
              </li>
              <li>
                <div class="kode_top_info2 widget">
                  <span><i class="fa fa-envelope-o"></i></span>
                  <div class="kode_top_info_text">
                    <a href="">youremail@gmail.com</a>
                    <a href="">trusttransport_net</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="kode_widget3_content">
          <h4>twitter feeds</h4>
          <div class="kode_widget_contact twitter">
            <ul>
              <li>
                <div class="kode_top_info2 widget widget2">
                  <i class="fa fa-twitter"></i>
                  <div class="kode_top_info_text">
                    <p><a href="#">@trust</a>transport completely synergize theme is good</p>
                    <span>3 minutes ago</span>
                  </div>
                </div>
              </li>
              <li>
                <div class="kode_top_info2 widget widget2">
                  <i class="fa fa-twitter"></i>
                  <div class="kode_top_info_text">
                    <p><a href="#">@trust</a>transport completely synergize theme is good</p>
                    <span>3 minutes ago</span>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="kode_copyright_widget">
    <div class="container">
      <div class="kode_copyright_text">
        <p>2017 @ Copyright Bridges Construction Reserved</p>
      </div>
      <ul class="kode_copyright_navi">
        <li><a href="#">Home</a></li>
        <li><a href="#">About us</a></li>
        <li><a href="#">Services</a></li>
        <li><a href="#">Track & Trace</a></li>
        <li><a href="#">News</a></li>
        <li><a href="#">Contact us</a></li>
      </ul>
    </div>
  </div>
</footer>