<div class="header">
  <!--KODE TOP WRAPER START-->
  <div class="kode_top_wrap2">
    <div class="container">
      <div class="kode_top_row">
        <ul class="kode_top_faq">
          <li><a href="#">Faq</a></li>
          <li><a href="#">Help Desk</a></li>
          <li><a href="#">Track Shipment</a></li>
        </ul>
        <span class="kode_time_detail"><i class="fa fa-clock-o"></i>Sat-Thus : 9am:6pm</span>
        <ul class="kode_top_social_icon">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
          <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
  <!--KODE TOP WRAPER END-->
  <div class="kode_top_content_area">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <div class="kode_top_logo">
            <a href="#"><img src="/images/logo11.png" alt=""></a>
          </div>
        </div>
        <div class="col-md-7">
          <div class="kode_top_info2_list">
            <div class="kode_top_info2">
              <span><i class="fa fa-search"></i></span>
              <div class="kode_top_info_text">
                <a href="">+511 4167000</a>
                <a href="">+511 4167001</a>
              </div>
            </div>
            <div class="kode_top_info2">
              <span><i class="fa fa-envelope"></i></span>
              <div class="kode_top_info_text">
                <a href="#">info@volcan.com.pe</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">
          <a class="kode-button-style-1 kode-theme-color-bg-color" href="#">get a free quote</a>
        </div>
      </div>
    </div>
  </div>

  <!-- =======================
 =====     Navbar   ======
 =========================-->
  <!--KODE TOP NAVI WRAPER START-->
  <div class="kode_top_navi_wraper">
    <div class="navigation">

      <%= erb :"/bloques/nav_container" %>

    </div>
  </div>
  <!--KODE TOP NAVI WRAPER END-->
</div>