



<section id="contenido" class="white-wrapper">

  <div class="container">
    <div class="not_found text-center">
      <h2><i class="fa fa-cogs"></i>404!</h2>
      <p>Algo anda mal! La página que usted solicita no se encuentra aquí. <br> Vaya a <a href="/" style="color: black;"> Inicio </a> </p>
    </div>
  </div>

</section>
